<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.0/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.0/dist/js/uikit-icons.min.js"></script>


<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Home</a></li>
            <li>
                <a href="#">Categorys</a>

            </li>
            <li><a href="#">Users</a></li>
        </ul>

    </div>
</nav>
<br>

<div class="uk-container">
    <form>
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">One small step!</legend>

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Input">
            </div>

            <div class="uk-margin">
                <select class="uk-select">
                    <option>Public (Everyone can see your idea)</option>
                    <option>Private (Only people with the link can see your idea)</option>
                </select>
            </div>

            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
            </div>


            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid"> Tag your idea:
                <label><input class="uk-checkbox" type="checkbox"> CSS</label>
                <label><input class="uk-checkbox" type="checkbox"> Games</label>
                <label><input class="uk-checkbox" type="checkbox"> Photographics</label>
                <label><input class="uk-checkbox" type="checkbox"> Brainstorm</label>
                <label><input class="uk-checkbox" type="checkbox"> Programming</label>
                <label><input class="uk-checkbox" type="checkbox"> Internet</label>
            </div>
            <div class="js-upload uk-placeholder uk-text-center">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">Attach binaries by dropping them here or</span>
                <div uk-form-custom>
                    <input type="file" multiple>
                    <span class="uk-link">selecting one</span>
                </div>
            </div>

            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

            <script>
                var bar = document.getElementById('js-progressbar');

                UIkit.upload('.js-upload', {

                    url: '',
                    multiple: true,

                    beforeSend: function() {
                        console.log('beforeSend', arguments);
                    },
                    beforeAll: function() {
                        console.log('beforeAll', arguments);
                    },
                    load: function() {
                        console.log('load', arguments);
                    },
                    error: function() {
                        console.log('error', arguments);
                    },
                    complete: function() {
                        console.log('complete', arguments);
                    },

                    loadStart: function(e) {
                        console.log('loadStart', arguments);

                        bar.removeAttribute('hidden');
                        bar.max = e.total;
                        bar.value = e.loaded;
                    },

                    progress: function(e) {
                        console.log('progress', arguments);

                        bar.max = e.total;
                        bar.value = e.loaded;
                    },

                    loadEnd: function(e) {
                        console.log('loadEnd', arguments);

                        bar.max = e.total;
                        bar.value = e.loaded;
                    },

                    completeAll: function() {
                        console.log('completeAll', arguments);

                        setTimeout(function() {
                            bar.setAttribute('hidden', 'hidden');
                        }, 1000);

                        alert('Upload Completed');
                    }

                });
            </script>
            <button class="uk-button uk-button-secondary">Submit your idea</button>
        </fieldset>
    </form>
</div>